

body {
  font-family: 'Montserrat', sans-serif;
}

.bold{
  font-weight: 700;
}

.wrapper_menu {
  width: 100%;
  height: 105px;
}

.padding_section {
  padding: 100px 0;
}

.text_uppercase {
  text-transform: uppercase;
}

.bg_blue {
  background: #2c3e50;
}

.bg_green {
  background: #18bc9c
}

.color_white {
  color: white;
}

.color_blue {
  color: #2c3e50;
}

.size_h2 {
  font-size: 50px;
}

.starlight {
  margin: 15px auto;
  font-size: 35px;
}

.title_page {
  line-height: 105px;
  font-size: 30px;
}

.wrapper_menu a {
  text-decoration: none;
  font-size: 15px;
  line-height: 105px;
  padding: 0 25px;
}

.icon {
  margin: 20px auto;
  height: 256px;
}

.back_icon {
  padding: 20px;
  margin: 15px 0;
}

.section1 img {
  width: 175px;
}

.wrapper_menu a:hover {
  color: #18bc9c;
}

.jumbotron {
  width: ;
}

.jumbotron i {
  margin-bottom: 30px;
}

.jumbotron h1 {
  font-size: 75px;
}

.jumbotron div {
  font-size: 25px;
  font-weight: 500;
}

.bg_cabin {
  background: #ad5464;
}

.bg_cake {
  background: #4da2b3;
}

.bg_circus {
  background: black;
}

.bg_gamepad {
  background: #3d83bc;
}

.bg_safe {
  background: #163cae;
}

.bg_submarine {
  background: #c8b3a5;
}

.section2 p {
  font-size: 22px;
  text-align: left;
  margin-top: 30px;
  line-height: 35px;
}

.section2 button, .section3 button {
  border: 1px solid white;
  padding: 20px 30px;
  margin-top: 30px;
  border-radius: 3px;
}

.contact_item {
  text-align: left;
  font-size: 20px;
  color: grey;
  margin-top: 50px;
  line-height: 40px;
}
